/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

 /* .page-holder {
  min-height: 100vh;
} */

.bg-cover {
  background: url('components/assets/images/background.jpeg');
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  padding-bottom: 100px;
  height: 100%
 
}

 .container-fluid {
     overflow: hidden;
     margin-top: 250px;
     background: #262626;
     color: #627482 !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #989c9e !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .gallery {
   margin-top: 25px;
   padding-top: 25px;
 }







 body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  }

  .searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }



  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}




/* .carousel-inner{
  width:100%;
  max-height: 500px !important;
} */


.carousel-item {
  height: 450px;
  overflow: hidden;
  width: 100%;
  }
  .carousel-item img {
  width: 100%;
  }

  .img-square-wrapper{
    height: 180px;
    overflow: hidden;
    width: 100%;
  }

  .img-square-wrapper img{
    width: 380px;
  }

 /* Review system css */

 .review{
  background-color: #353b48;
 }

 /* star system */

 .rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 2vw;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}



h1,
p {
  text-align: center
}

h1 {
  margin-top: 150px
}

p {
  font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
  h1 {
      font-size: 14px
  }

  p {
      font-size: 12px
  }
}

/* for the login signup pages */
.form-style input{
	border:0;
	height:50px;
	border-radius:0;
border-bottom:1px solid #ebebeb;	
}
.form-style input:focus{
border-bottom:1px solid #007bff;	
box-shadow:none;
outline:0;
background-color:#ebebeb;	
}
.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
	color:#ccc;
}
button{
height:50px;	
}
.sideline:before,
.sideline:after {
    content: '';
    border-top: 1px solid #ebebeb;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.sideline:after {
    margin: 0 0 0 20px;
}


.TLogin{
  color:grey;
}

.authentication-block{
  background-color:grey;
  margin-top: 50px;
  
}

.bg-cover-dashboard {
  background: url('components/assets/images/dashboard.jpg');
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 150px;
  padding-bottom: 150px;
  
  height: 100%
 
}
/*sidebar */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #2b2c2e;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-left: -120px;
  margin-top: none;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.dashboard{
  margin-top: 20px;

}



.jumbotron {
  background-image: url("./components/assets/images/dashboard.jpg");
  background-size: cover;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}



.dashboard-card{
  justify-content: center;
  margin-bottom: -100px;
}

.card-img-overlay a{

font-family: sans-serif;
font-weight: bolder;
color: aliceblue;
display: inline-block;
font-size: 23px;
margin: 4px 2px;
border-radius: 50%;
}

.trip-card{
  justify-content: center;
}

.create-trip{
  padding-top: -50px;
  margin-top: -60px;
  
}

.create-title{
  padding-top: 15px;
  padding-bottom: 45px;
}

.create-title h5{
  font-weight: bolder;
}


.trip-images img{
  width: 250px;
  height: 170px;
  padding-right: 10px;
  padding-top: 10px;
}

.itinerary-list{
  margin-bottom: 25px;
}

#username{
  color:rgb(184, 178, 178);
  margin-top: 9px;
  padding-right: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

.err-message{
  text-align: center;
  font-weight: bolder;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-top: 200px;
}